$cerise: #d43c9e;
$dark-purple: #812d8f;
$blue-gem: #2c0c82;
$darker-blue: #1B0253;
$caribbean-green: #00baa3;
$lochinvar: #2e9080;
$white-smoke: #f5f5f5;
$gray: #e8e8e8;
$global-radius: .25rem;




.settings_page_mesh, #about-mesh, #whats-new {
  margin-top: -10px;
  background-color: white;
  font-family: ingra-2, sans-serif;
  font-style: normal;
  font-weight: 100;

  .mesh-logo {
    display: inline-block;
    width: 250px;
    padding: 1rem 0;

    @media screen and ('max-width: 580px'){
      display: block;
    }
  }

  .com-button {
    display: inline-block;
    float: right;
    margin: 2.5rem 0;
    a {
      margin-bottom: 0 !important;
    }

    @media screen and ('max-width: 580px'){
      display: block;
      float: none;
    }
  }

  .clearfix {
    clear:both;
  }

  h1, .h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6;
  }

  h2, .h2, #poststuff h2 {
    font-size: 26px;
    font-weight: 600;
    padding-left: 0 !important;
    line-height: 1.5;

  }

  h3, .h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;

  }

  h4, .h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;

  }

  h5, .h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

  }

  h6, .h6 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;

  }

  a {
    text-decoration: none;
    color: $caribbean-green;
    font-weight: bolder;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;

    &:hover, &:focus, &:active {
      color: $lochinvar;
    }
  }

  .light-weight {
    font-weight: 200 !important;
  }

  .bold {
    font-weight: 600;
  }

  .inline {
    display: inline;
  }

  .no-margin {
    margin: 0 !important;
  }

  .color-white {
    color: $white-smoke;
  }

  .color-darkpurple {
    color: $dark-purple;
  }

  .nav-tab-wrapper {
    a {
      color: $darker-blue;
      border-radius: .25rem .25rem 0 0;
      &.nav-tab-active {
        border-bottom: 1px solid transparent !important;
        color: $caribbean-green;
        background-color: $white-smoke;
      }
    }
    @media screen and ('max-width: 580px'){
      width: 100%;
    }
  }

  //buttons
  input[type="submit"], .button, .button-primary {
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: $caribbean-green;
    color: $white-smoke;
    height: auto !important;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;

    &:hover, &:focus, &:active {
      background-color: #009e8b;
      color: $white-smoke;
      border: 1px solid transparent;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
  }


// Settings

// About Mesh
  .about-hero {
    .hero-text {
      padding: 3rem 5%;
      width: 70%;
      h1, h2, h3 {
        color: $white-smoke;
      }
    }
  }

  .negative-bg {
    margin: 0 -22px;
    padding: 0 22px;
  }

  .gray-bg {
    background-color: $gray;
    padding: 1px;
    border-radius: 0 0 $global-radius $global-radius;

    &.negative-bg {
      margin: 0 -22px;
      padding: 1px 22px;
    }
  }

  .green-bg {
    background-color: $caribbean-green;
    padding: 1px;
    border-radius: 0 0 $global-radius $global-radius;


    h2.light-weight {
      font-weight: 200;
    }

    a.underline {
      color: $white-smoke !important;
      border-bottom: 2px solid $white-smoke;
      transition: background-color 0.25s ease-out,color 0.25s ease-out;
      font-weight: 600;

      &:hover, &:focus, &:active {
        color: $lochinvar !important;
        border-bottom: 2px solid $lochinvar;

      }
    }
  }

  .wrapper {
    width: 90%;
    margin: 2rem 5%;
    background-position: right center;
    background-size: cover;
  }

  .fifty {
    width: 50%;
    display: inline-block;
    float: left;

    @media screen and ('max-width: 1100px') {
      width: 100%;
      float: none !important;
    }

    &.right {
      float: right;
      img {
        float: right;
        @media screen and ('max-width: 1100px') {
          float: none;
          margin: 0 5%;
        }
      }
    }
  }

  .grey-box-container {
    margin: 0 -1rem;
  }

  .grey-box {
    width: 100%;
    margin: 1rem 0;
    display: inline-block;
    float: left;

    &.fifty {
      width: 50%;
      .padding-box {
       margin: 0 1rem;
      }

      @media screen and ('max-width: 1100px') {
        width: 100%;
        float: none !important;
      }
    }

    .padding-box {
      padding: 1.5rem;
      background-color: $white-smoke;
      border-radius: $global-radius;
      //min-height: 300px;
    }

    h4 {
      margin: 0;
    }

    p {
      font-size: 16px;
      @media screen and ('max-width: 1100px') {
        margin-bottom: 1rem;
      }
    }

  }

  .about-box-icon {
      width: 20%;
      float: left;
      padding-right: 10px;
      padding-bottom: 0;
  }

  .about-box-copy {
    padding-left: 20%;

    h4, p {
      padding-left: 20px;
    }

  }

  .about-devs-container {
    h3 {
      margin: 0;
    }
  }


// Change Log

  #poststuff #postbox-container .changelog h2 {
    @extend .h2;
    padding: 16px 0 8px;
  }

// Whats New

  .version-info {
    background-color: white;
    h3 {
      color: $darker-blue;
    }
  }

  .new-title {
    img {
      padding-right: 1rem;
      height: 50px;
      max-width: 60px;
      line-height: 60px;
      vertical-align: middle;
    }

    .new-tag {
      line-height: 50px;
      display: inline-block;
      color: $cerise;
      font-weight: 700;
      margin: 0 !important;
      vertical-align: middle;
    }
  }

  .new {
    padding: 0 30px 0 70px;
  }

  .new-feature-container {
    margin: 1rem 0;

    &.fifty {
      margin: 0 !important;
    }

    .new-feature {
      margin: 1rem 0 2rem;

      h4 {
        margin: 0 !important;
      }

    }
  }

  .update-container {
    margin: 1rem 0;
    .update {
      margin: 1rem 0 2rem;
      h4 {
        margin: 0 !important;
      }

    }
  }

  .bug-fix-container {
    margin: 1rem 0;
    .bug-fix {
      margin: 1rem 0 2rem;
      h4 {
        margin: 0 !important;
      }

    }
  }

}