[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.55556rem;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  > li {
    box-sizing: border-box;
    display: block;
    float: left;
    height: auto;
    padding: 0 0.55556rem 1.11111rem;
  }
}

.small-block-grid-1 {
  > li {
    list-style: none;
    width: 100%;

    &:nth-of-type(1n) {
      clear: none;
    }

    &:nth-of-type(1n+1) {
      clear: both;
    }
  }
}

@media #{$mesh-medium-up} {
  .medium-block-grid-2 {
     > li {
       list-style: none;
       width: 50%;

       &:nth-of-type(1n) {
         clear: none;
       }

       &:nth-of-type(2n+1) {
         clear: both;
       }
     }
   }

  .medium-block-grid-3 {
    > li {
      list-style: none;
      width: 33.33333%;

      &:nth-of-type(1n) {
        clear: none;
      }

      &:nth-of-type(3n+1) {
        clear: both;
      }
    }
  }
}