/**
 *
 * 01. Alignment
 * 02. Buttons
 * 03. Helper Classes
 *
 **/

// We want all styles in the context of the MCS container, as to not overwrite any
// WordPress Core styles or custom editor styles inserted by theme devs.
#mesh-container {
	// 01. Alignment
	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}


	// 02. Buttons/Links
	a {
		cursor: pointer;
	}

	.button {
		&.primary {
			background-color: $primary;
			border-color: $primary-dark;
			color: $light-grey;

			&:hover {
				background-color: $primary-light;
			}

		  .spinner {
			display: none;
		  }
		}

	    &.disabled {
		  &.active {
			.spinner {
			  visibility: visible;
			  display: inline-block;
			  float: left;
			  margin: 4px 0;
			}

			&.dashicons-before:before {
			  display: none;
			}
		  }
		}

		&.dashicons-before:before {
			vertical-align: middle;

		}
	}

	// Helper Classes
	p.lead,
	.lead > p {
		font-size: 18px;
	}

	.clearfix {
		@include clearfix;
	}

	.inline-block-list {
		list-style: none;
		margin: 0;

		&.space-left {
			> li + li {
				margin-left: $base * .5;
			}
		}

		&.space-right {
			> li + li {
				margin-left: $base * .5;
			}
		}

		> li {
			display: inline-block;
			margin: 0;
			vertical-align: middle;
		}
	}

	.plain-link {
		text-decoration: none;
	    &.disabled {
		    color:$darkest-grey;
		}
	}

	.grey-link {
		color: $darkest-grey;
	}

	.nowrap {
		white-space: nowrap;
	}
}