#mcs-container .spinner {
	margin: 0px 10px 0;
}

.mcs-section-controls-container .spinner,
.mcs-section-remove-container .spinner {
	float: none;
}

.mcs-right {
	text-align: right;
}

.mcs-section-meta .mcs-right,
.mcs-section-controls-container .mcs-right,
.mcs-editor-blocks .mcs-right {
	float: right;
}

#multiple-content-sections-container .postbox .handlediv:before {
	right: 12px;
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 8px 10px;
	top: 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	content: '\f142';
}

#multiple-content-sections-container .postbox.closed .handlediv:before {
	content: '\f140';
}

#multiple-content-sections-container .postbox.ui-sortable-handle .handlediv:before {
	content: '\f156';
}

#multiple-content-sections-container .ui-sortable-handle {
	border-color:#009FD4;
}

.columns-6 {
	width:49%;
}

.mcs-editor-blocks .mcs-left {
	float: left;
}

.mcs-editor-blocks {
	overflow:hidden;
}

.js .multiple-content-sections-postbox .hndle {
	cursor: pointer;
}
.js .ui-sortable .multiple-content-sections-postbox .hndle {
	cursor: move;
}

.mcs-section-meta .dashicons {
	font-size: 17px;
	text-decoration: none;
}

.mcs-block-click {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display:block;
	background:transparent;
}