@for $i from 1 through 12  {
	.mcs-columns-#{$i} {
		width: ($i/12) * 100%;
	}
}

[class*="mcs-columns"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 1px;
}

#multiple-content-sections-container .block {
  border: 1px dotted #ccc;

  .ui-sortable-handle {
    border-bottom:1px solid #ccc;
  }
}

.block-header {
  padding:5px;
}

.block-content {
  padding:5px;
}

.block-placeholder {
  border: 1px dotted #ccc;
  margin: 0 1em 1em 0;
  min-height: 400px;
}