@for $i from 1 through 12  {
	.mcs-columns-#{$i} {
		width: ($i/12) * 100%;
	}
}

@for $i from 1 through 12 {
	.mcs-columns-#{$i} {
		@for $j from 1 through $i {
			.mcs-offset-#{$j} {
				padding-left: 100% * $j/$i;

				&.block-content:before {
					right: 100% - (($j/$i) * 100%);
				}
			}
		}
	}
}

.mcs-row {
	position: relative;

	@include clearfix;
}

[class*="mcs-columns"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 1px;
}