@for $i from 1 through 12  {
	.mcs-columns-#{$i} {
		width: ($i/12) * 100%;
	}
}

.mcs-row {
	@include clearfix;
}

[class*="mcs-columns"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 1px;
}

.mcs-section-meta {
  border: 1px solid #dedede;
  padding: 3px 0;
  border-bottom: 1px solid #dedede;
  margin: 2px 0;
  background-color: #f5f5f5;
}

#multiple-content-sections-container {
  .block {
    border: 1px dotted #ccc;

    .ui-sortable-handle {
      border-bottom: 1px solid #dedede;
    }
  }

  .wp-slider {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    z-index:1000;
    border:none;
  }
}

.block-header {
  padding:5px;
}

.block-content {
  padding:5px;
}

.block-placeholder {
  border: 1px dotted #dedede;
  margin: 0 1em 1em 0;
  min-height: 400px;
}

.text-right {
  text-align : right;
}

.text-left {
  text-align : left;
}