#mcs-container .spinner {
	margin: 0px 10px 0;
}

.mcs-section-controls-container,
.mcs-section-remove-container {
	.spinner {
		float: none;
	}
}

#multiple-content-sections-container {
	.ui-sortable-handle {
		border-color: #009fd4;
	}

	.postbox {
		.handlediv:before {
			content: '\f142';

			display: inline-block;
			font: normal 20px/1 'dashicons';
			padding: 8px 10px;
			speak: none;
			text-decoration: none !important;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;

			position: relative;
			right: 12px;
			top: 0;
		}

		&.closed .handlediv:before {
			content: '\f140';
		}

		&.ui-sortable-handle .handlediv:before {
			content: '\f156';
		}
	}
}

.mcs-editor-blocks {
	overflow:hidden;
}

.js {
	.multiple-content-sections-postbox .hndle {
		cursor: pointer;
	}

	.ui-sortable .multiple-content-sections-postbox .hndle {
		cursor: move;
	}
}

.mcs-section-meta .dashicons {
	font-size: 17px;
	text-decoration: none;
}

.mcs-block-click {
	background:transparent;
	display:block;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}